.dditem {
  position: relative;
  background-color: #f0ad4e;
  &.dditem--head {
    display: inline-block;
    background-color: #d9534f;
  }
  & + & {
    margin-top: 1px;
  }
}
.dditem__body {
  position: relative;
  padding: 0.5em 3em 0.5em 1em;
  & + div {
    position: absolute;
    top: 0; right: 0;
  }
  .dditem--head > & + div {
    position: relative;
    top: 1px; right: auto;
  }
}
.dditem__label {
  white-space: nowrap;
}
.dditem__selected {
  position: absolute;
  top: 0; left: 0;
  width: 0.5em; height: 100%;
  background-color: #337ab7;
}
.dditem__area-of-label {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
.dditem__arrow {
  position: absolute;
  top: 0; right: 0;
  width: 2em;
  height: 100%;
  background-color: darken(#f0ad4e, 10%);
}
.dditem__children {
  position: absolute;
  top: 0; left: 1px;
  &:not(.dditem__children--open) {
    display: none;
  }
  .dditem--head > .dditem__body + div > & {
    left: 0;
  }
}
